<mat-toolbar color="primary" class="header-toolbar">
  <span class="" (click)="goHome()">Aktív Időskor</span>
  <span class="spacer"></span>

  <ng-container *ngIf="!auth.isAdmin">
    <button mat-button routerLink="/cards">Kezdőlap</button>
    <button mat-button routerLink="/login">Admin Bejelentkezés</button>
  </ng-container>

  <ng-container *ngIf="auth.isAdmin">
    <button mat-button routerLink="/admin/cards">Kártyák szerkesztése</button>
    <button mat-button routerLink="/admin/cards/new">Új kártya</button>
    <button mat-button routerLink="/admin/pages">Oldalak (lista)</button>
    <button mat-button routerLink="/admin/pages/about">Oldal szerkesztő (Quill)</button>
    <button mat-button routerLink="/admin/menu">Menü szerkesztő</button>
    <button mat-button (click)="logout()">Kijelentkezés</button>
  </ng-container>
</mat-toolbar>

<!-- DINAMIKUS MENÜ (a régi statikus nav helyett) -->
<app-dynamic-menu></app-dynamic-menu>
